@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import 'https://use.fontawesome.com/releases/v5.15.2/css/all.css';

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #FF5666;
    color: #262626;
}

body, * {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FF5666;
    width: 100%;
    height: 1000px;
    padding-top: 20px;
}

.menu-main-container {
    display: flex;
    border-top: 3px solid #262626;
}

.page-desc-container {
    padding: 20px 0px;
}

.page-desc {
    margin: 0;
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.gallery-pictures-container {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-picture-wrapper {
    border: 7px solid #fff;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
}

.gallery-picture {
    height: 250px;
    width: 400px;
    margin-bottom: 50px;
}

.gallery-picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-picture:hover .gallery-picture-wrapper {
    display: none;
}

.gallery-picture:hover .gallery-picture-text {
    display: block;
}

.gallery-picture-text {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    display: none;
    background: rgba(0, 0, 0, 0.25);
    border: 2px solid #000;
    box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.7);
}

.header-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
                url('./images/DAN05577.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -500px;

}

#header-logo {
    margin-top: 30px;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.7);
}

nav {
    text-transform:uppercase;
}


.home-button {
    align-self: flex-end;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 200;
    height: 50px;
    color: #262626;
    border: 1px solid #000;
    border-radius: 8px;
    background: rgb(255,86,102);
    background: linear-gradient(90deg, rgba(255,86,102,1) 0%, rgba(245,138,7,1) 60%, rgba(255,86,102,1) 100%);
}

.home-button a {
    color: #262626;
    text-decoration: none;
}

.home-button-container {
    margin: 0px 40px;
    align-self: flex-end;
}

.index-home-button {
    margin-top: 100px;
    justify-self: flex-end;
}

.aside-menu {
    display: flex;
    flex-direction: column;
    color:white ;
    height: 80px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.aside-menu li {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    font-size: 20px;
    padding: 10px 0px;
}
.aside-menu li a {
    text-decoration:none;
    color: #262626;
    line-height:30px;
    padding:0px 15px;
}
.aside-menu li:hover,
.aside-menu li:hover > a {
    background: #c187f7;
    color:#000;
    border-radius: 15px;
}
.aside-menu nav li ul {
    position:absolute;
    top:100%;
    left:0px;
    z-index:99;
    width:200px;
    height:auto;
    display:none;
}

.aside-menu-container {
    border-radius: 20px;
    margin: 10px 0px 10px 10px;
    padding: 20px;
    height: 100%;
    float: left;
    width: 200px;
    height: 980px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #E2C2FF;
}

.price-table-container {
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid #000;
    overflow: hidden;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.7);
}

.price-table {
    padding: 20px;
    color: #262626;
    width: 800px;
    border-collapse: collapse;
    text-align: left;
}

.price-table tr {
    border-bottom: 2px solid #000;
}

.price-table thead {
    background: #c187f7;
}

.price-table tr:nth-child(even) {
    background: #cea2f7;
}

.price-table tr:last-child {
    border-bottom: unset;
}

.price-table td,
.price-table th {
    padding: 10px 20px;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #A9FFCB;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.7);
    padding: 0px 20px;
}

.footer-text-container p {
    color: #262626;
    font-weight: 200;
}

.footer-contacts-container a {
    color: #262626;
    text-decoration: none;
    font-weight: 500;
}

.index-nav-container {
    align-self: flex-start;
    width: 500px;
    height: 60px;
    margin-top: 150px;
}

.index-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60px;
    margin: 0;

}

.index-menu li {
    padding: 10px 10px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;

}

.index-menu li:hover{
    background: #c187f7;
    border: 2px solid #000;
}

.index-menu li:hover a {
    color: #000;
}

.index-menu li a {
    font-size: 26px;
    color: #fff;
    text-decoration: none;
}

.index-heading-container {
    align-self: flex-start;
    padding-left: 40px;
    color: #262626;
    background: #E2C2FF;
    width: calc(100% - 40px);
    margin: 0px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.7);
}

.index-heading {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 400;
}

.index-heading span {
    font-weight: 600;
}

.feedback-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-label {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.form-input {
    background: transparent;
    border: 2px solid #000;
    box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.7);
    outline: none;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 30px;
    color: #fff;
}

.form-input:focus {
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.7);
}

.feedback-form-result-container {
    color: #fff;
    /* display: none; */
}

.form-button {
    background: #c187f7;
    border: 2px solid #000;
    border-radius: 20px;
    height: 35px;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.form-input::placeholder {
    color: #ddd;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.contact {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    justify-content: space-between;
}

.contact i {
    margin-right: 10px;
}

.contact-heading,
.contact-info {
    display: flex;
    align-items: center;
}

.about-us-container {
    border: 2px solid #000;
    background: #A9FFCB;
    border-radius: 20px;
    padding: 10px 40px;
    margin-top: 40px;
    box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.7);
}

.about-us-text {
    color: #262626;
    font-weight: 300;
}


/* colors */
/* #262626 - black */
/* #A9FFCB - mint green */
/* #F58A07 - orange */
/* #FF5666 - pink */
/* #E2C2FF - light purple */
/* #AFC1D6 - light blue */